.carousel-container {
  position: relative;
  width: 100vw;
  height: 400px;
  top: 4em;
  display: flex;
  align-items: center;
  margin: 4em;
}

.carousel-content {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  transition: scroll 1s ease;
}

.carousel-item {
  flex: 0 0 auto;
  width: 100vw;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}

.carousel-item img {
  width: 100vw;
  height: 400px;
  object-fit: cover;
  /* border-radius: 8px; */
}

.carousel-item .txt {
  position: absolute;
  width: 100vw;
  bottom: 8px;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  padding: 8px;
  border-radius: 0;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em 8em;
  gap: 2em;
}

.carousel-previous,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.589);
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.carousel-previous {
  left: 8px;
}

.carousel-next {
  right: 8px;
}
